@font-face {
  font-family: fzxs12;
  src: url(resources/font/FZXIANGSU12.TTF);
}

@font-face {
  font-family: 'Press Start 2P';
  src: url(resources/font/PressStart2P.TTF);
}

@keyframes pointer-animation {
    0%   {bottom:40px;}
    40%  {bottom:35px;}
    60%  {bottom:35px;}
    100% {bottom:40px;}
}

@keyframes notes {
  to {
    bottom: 20px;
  }
}

body {
  margin: 0;
  overflow-y: hidden;
}

* {
  font-size: 10px;
  font-family: 'Press Start 2P', 'fzxs12', cursive;
}

.hidden {
  display: none;
}

.fixed, .close {
  border: solid 5px black;
  padding: 5px;
  font-size: 18px;
  width: 15px;
  cursor: pointer;
  background: white;
}

.fixed {
  position: fixed;
}

.help {
  bottom: 10px;
  right: 10px;
}

.rank {
  bottom: 10px;
  /* right: 50px; */
  right: 10px;
}

.github {
  /* bottom: 10px;
  right: 90px; */
  bottom: 68px;
  right: 10px;
}

.previous {
  width: 202px;
  bottom: 10px;
  right: 50px;
}

.previous-red {
  margin-bottom: 12px;
}

.previous-blue {
  margin-top: 12px;
}

.previous-avatar {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: 32px;
}

.previous-count {
  padding: 0;
  bottom: 10px;
  right: 265px;
  height: 86px;
  width: 35px;
  display: flex;
  flex-direction: column;
}

.previous-count > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
}

.fixed.hack-bar {
  width: 260px;
  height: 5px;
  padding: 0;
  border: none;
  background-color: black;
  bottom: 55px;
  right: 50px;
}

.notes {
  bottom: 10px;
  right: 130px;
}

.notes.fresh {
  animation: notes 0.2s infinite alternate;
}

.github img {
  margin-left: -1px;
}

.photo {
  position: relative;
  height: 0;
  right: 10px;
  top: -46px;
  text-align: right;
}

.pointer {
  right: 297px;
  margin-bottom: 21px;
  z-index: 1;
  position: fixed;
  animation: pointer-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.hints {
  position: fixed;
  bottom: 111px;
  right: 250px;
}

.photo img {
  cursor: pointer;
  margin-left: -1px;
  filter: opacity(0.5);
}

.photo img:hover {
  filter: none;
}

.close {
  margin: auto;
  margin-top: -25px;
}

.help-text--wrapper {
  position: absolute;
  top: 80px;
  width: 100%;
  max-width: 600px;
  display: none;
  z-index: 2;
  margin-left: -5px;
}

.help-text {
  margin: auto;
  width: 100%;
  background: white;
  border: solid 5px black;
  box-sizing: border-box;
  padding: 40px;
  max-width: 500px;
}

.help-text, .help-text>a {
  font-size: 18px;
  font-family: 'fzxs12', cursive;
}

.container {
  max-width: 600px;
  margin: auto;
  border: 5px solid black;
}

#main {
  height: 60px;
  width: 100%;
  outline: none;
  padding: 0 10px;
  padding-right: 52px;
  font-size: 20px;
  font-family: 'fzxs12', cursive;
  box-sizing: border-box;
  border: none;
  border-bottom: 5px solid black;
  line-height: 20px;
  border-radius: 0;
}

.result {
  width: 100%;
  display: flex;
}

.result--red, .result--blue {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.result--red {
  margin-right: 5px;
}

.result--blue {
  margin-left: 5px;
}

.result-wrapper--red, .result-wrapper--blue {
  height: 100vh;
  width: 50%;
  flex-grow: 1;
  background-color: #eaeaea;
}

.result-wrapper--red {
  border-right: 3px solid black;
}

.result-wrapper--blue {
  border-left: 3px solid black;
}

.result-wrapper--red .overview, .previous-count-red {
  background-color: #ff8080;
}

.result-wrapper--blue .overview, .previous-count-blue {
  background-color: #a8c7fb;
}

.previous-count-red, .previous-count-blue {
  font-size: 8px;
}

.result--red > div, .result--blue > div {
  display: flex;
  align-items: center;
}

.name, .strike {
  font-size: 15px;
}

.pad {
  flex-grow: 1;
}

.result--red .avatar {
  transform: rotateY(0.5turn);
}

.stats {
  margin-top: 8px;
}

.result--red .stats {
  text-align: right;
}

.helping .result--red .avatar {
  margin-left: -50px;
  margin-right: 50px;
}

.helping .result--blue .avatar {
  margin-left: 50px;
  margin-right: -50px;
}

.avatar {
  background-size: 64px;
  width: 64px;
  height: 64px;
  margin: 5px;
  transition: margin 0.5s linear;
}

.overview {
  padding: 18px 0;
  text-align: center;
  font-size: 28px;
  border-bottom: 5px solid black;
  margin-bottom: 10px;
}

.switch {
  position: fixed;
  left: 10px;
  bottom: 10px;
  font-size: 20px;
  cursor: pointer;
}
